body {
    background-color: #00101b;

}
@font-face {
    font-family: 'HindSiliguri-Medium';
    src: url('../fonts/HindSiliguri-Medium') format('truetype');
}

h1 {
    font-family: HindSiliguri-Medium, sans-serif;
    font-size: 60px;
    color: #fff;
}

h2 {
    font-family: HindSiliguri-Medium, sans-serif;
    font-size: 30px;
    color: #fff;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-rows: auto 225px 225px;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}
  
.grid_header {
    grid-column: span 3;
    padding-bottom: 50px;
    text-align: center;
}

.interactive_globe {
    grid-row: span 2;
    text-align: center;
}

.placeholder {
    background-color: #097e9caf;
}