body {
    background-color: #091f2f;

}

.grid-container {
    display: grid;
    text-align: center;
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}
  
.grid_header {
    grid-column: span 3;
}

.item2 {
    grid-row: span 2;
}

.placeholder {
    background-color: #097e9caf;
}