body {
    background-color: #00101b;

}
@font-face {
    font-family: 'HindSiliguri-Medium';
    src: url('../fonts/HindSiliguri-Medium') format('truetype');
}

h1 {
    font-family: HindSiliguri-Medium, sans-serif;
    font-size: 60px;
    color: #fff;
}

h2 {
    font-family: HindSiliguri-Medium, sans-serif;
    font-size: 30px;
    color: #fff;
}

.grid_container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.container_globe { 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;                                                  
}

.container_animation {
    width: 500px;
    height: 500px;
    background-image: url('../assets/images/Blank_globe.svg');
    background-repeat: no-repeat;
    background-size: 450px 450px;
    background-position: center;
}

.slider {
    width: fit-content;
}

.dots-wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 100px;
    overflow: hidden;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3498db;
    position: absolute;
    opacity: 0%;
    animation: orbitLow 25s infinite ease-in-out;
}

@keyframes orbitLow {
    0% {
        opacity: 0;
        transform: translate(0, var(--start-y));
    }
    25% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
        transform: translate(500px, var(--end-y));
    }
    100% {
        opacity: 0;
        transform: translate(0, var(--start-y));
    }
}   